<!doctype html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= t(:site_name) %></title>

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "layouts/partials/header" %>

    <%= yield %>

    <%= partial "layouts/partials/footer" %>
  </body>
</html>
