<section class="header">
  <nav class="languages">
    <ul>
      <% trimmed_locales.each do |locale| %>
        <% if locale.to_s == I18n.locale.to_s %>
          <li><%= locale %></li>
        <% else %>
          <li>
            <a href="/<%= if locale != "en" then locale else end %>">
              <%= locale %>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
    <div class="logo"><a href="<%= home_url %>" title="Security Without Borders"><img src="/images/logo.png" alt="SWB"></a></div>
</section>

<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
      <iframe class="c-form" src="<%= contact_form_url %>" scrolling="no" frameborder="0"></iframe>
    </div>
</div>
