<!-- Request help -->
<section id="request-section" class="group is-bg-white first flex">
<div class="image-container">
    <a class="call-to-action is-bg-yellow" href="/contact.2.html"><%= t(:request_assistance) %></a>
</div>
<div id="journalist-text" class="text-container">
    <article class="article-content">
        <h2>
            <%= t(:activist_headline) %>
        </h2>
        <p>
            <%= t(:activist_p1) %>
        </p>
        <p>
            <%= t(:activist_p2) %>
        </p>
        <p>
            <%= t(:activist_p3) %>
        </p>
    </article>
</div>
</section>

<!--Volunteer -->		  
<section id="volunteer-section" class="group is-text-white flex right-to-left"> 

    <div class="image-container">					
        <div class="call-to-action-container ">
            <a class="call-to-action is-bg-yellow unskew" href="/volunteer.html"><%= t(:volunteer) %></a>
        </div>
    </div>
    <div class="text-container">
        <article class="article-content unskew">
            <h2><%= t(:hacker_headline) %></h2>
            <p>
                <%= t(:hacker_p1) %>
            </p>
            <p>
                <%= t(:hacker_p2) %>
            </p>
            <p>
                <%= t(:hacker_p3) %>
            </p>
        </article>
    </div>

</section>		  


