<section class="header">
    <div class="logo"><a href="/" title="Security Without Borders"><img src="images/logo.png" alt="SWB"></a></div>
</section>

<!-- Primary Page Layout
 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="twelve columns intro">
            <p>
                <%= t(:intro_paragraphs) %>
            </p>
            <a class="button button-primary request-assistance" href="<%= I18n.locale %>/contact/">
                <%= t(:request_assistance) %>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            <h4 class="smaller"><%= t(:activist_headline) %></h4>
            <p>
                <%= t(:activist_p1) %>
            </p>
            <p>
                <%= t(:activist_p2) %>
            </p>
        </div>
        <div class="six columns">
            <h4 class="smaller"><%= t(:hacker_headline) %></h4>
            <p>
                <%= t(:hacker_p1) %>
            </p>
            <p>
                <%= t(:hacker_p2) %>
            </p>
            <p>
                <%= t(:hacker_p3) %>
            </p>
            <p>
                <%= t(:follow_us) %>
            </p>
        </div>
    </div>
    <div class="row footer">
        <div class="one column">
            <p><!-- filler --></p>
        </div>
        <div class="ten columns">
            <p>
                <%= t(:footer) %>
            </p>
        </div>
    </div>
</div>
