<header class="is-text-white">
    <div class="group flex header-content">
        <div class="">
            <a href="<%= home_url %>">
                <img src="/images/logo.png" alt="logo" class="logo"/>
            </a>
        </div>
        <nav class="md:flex md:h-24 md:ml-32 text-center" style="font-size: 1.6rem;">
            <!-- <a href="<%= home_url %>">Home</a> -->
            <div class="md:flex"><a class="block" href="<%= home_url %>resources.html"><i class="fas fa-book"></i> Resources</a></div>
            <div class="md:flex"><a class="block" href="<%= home_url %>tools.html"><i class="fas fa-wrench"></i> Tools</a></div>
            <div class="md:flex"><a class="block" href="<%= home_url %>blog.html"><i class="fas fa-newspaper"></i> Blog</a></div>
            <div class="md:flex"><a class="block" href="<%= home_url %>donate.html"><i class="fas fa-hand-holding-heart"></i> Donate</a></div>
            <!-- <a href="<%= home_url %>contact.html">Help!</a> -->
        </nav>
        <!-- <div class="flex-1 language-changer is-text-align-right">
            <a href="#"><%= t(:language_name) %></a>
            <div class="language-changer-more">
                <% trimmed_locales.sort.each do |locale| %>
                        <a href="/<%= if locale != "en" then locale + "/" else end %><%= if I18n.locale.to_s == "en" then current_page.path else current_page.path[I18n.locale.to_s.length + 1,current_page.path.length] end %>"><%= t(:language_name,locale: locale) %></a>
                <% end %>
            </div>
        </div> -->
    </div>
</header>
