<section class="header">
    <nav class="navigation">
      <div class="container">
        <div class="navigation__inner">
          <ul class="languages">
            <% trimmed_locales.sort.each do |locale| %>
              <% if locale.to_s == I18n.locale.to_s %>
                <li><%= locale[0,2] %></li>
              <% else %>
                <li>
                  <a href="/<%= if locale != "en" then locale else end %>">
                    <%= locale[0,2] %>
                  </a>
                </li>
              <% end %>
            <% end %>
          </ul>
          <ul class="links">
            <li>
              <a href="<%= home_url %>core-team.html">
                <%= t(:core_team) %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="logo"><a href="<%= home_url %>" title="Security Without Borders"><img src="/images/logo.png" alt="SWB"></a></div>
</section>
