<header class="is-text-white">
  <div class="group flex header-content">
    <div class="logo-container">
      <img src="images/logo.png" alt="logo" class="logo"/>
    </div>
    <nav class="flex-2 is-text-align-center">
      <a href="<%= home_url %>">Home</a>
      <a href="<%= home_url %>blog.html">Blog</a>
      <a href="<%= home_url %>about.html">About</a>
    </nav>
    <div class="flex-1 language-changer is-text-align-right">
      <a href="#"><%= I18n.locale.to_s %></a>
      <div class="language-changer-more">
        <% trimmed_locales.sort.each do |locale| %>          
            <a href="/<%= if locale != "en" then locale else end %>"><%= locale[0,2] %></a>               
        <% end %>
      </div>
    </div>
  </div>
</header>